# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

env/
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
